body{
    background-image: url("https://previews.123rf.com/images/jezper/jezper1407/jezper140700092/30416438-question-marks.jpg");
}
div{
    margin: 10px 2px;
}
fieldset{
    border-radius: 15px;
    text-align: justify;
    border-color: blue;
   
    
}


button{
    color: blue;
    background-color: aqua;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border-color: blue;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
  
}
h1{
    color: blue;
    text-align: center;
}